<%- include('partials/header') %>
<h1>Nueva Etiqueta</h1>
<% if (typeof error !== 'undefined') { %>
  <div style="color:red"><%= error %></div>
<% } %>
<form action="/etiquetas" method="POST">
  <label>Texto:</label>
  <input type="text" name="texto" required>
  <button type="submit">Crear</button>
</form>
<a href="/etiquetas">Volver</a>
<%- include('partials/footer') %> 